* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(240, 235, 227);
}

.banner {
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: center;
}

.logo {
    font-family: Quicksand;
    cursor: pointer;
    margin-left: 70px;
    font-size: 36px;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.navbar ul li {
    margin: 0 20px;
    position:relative;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: opacity 0.5s;
}

.navbar ul li a:hover {
    opacity: 0.5;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.footer {
    background-color: aliceblue;
    color: rgb(95, 29, 29);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer a{
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}